<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <h1 class="text-info text-center">Oops! Something went wrong.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>